.text{
    margin-top: 33px;
    color: #887C68;
    margin-right: 24px;
    margin-left: 24px;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
width: 343px;
height: 114px;
flex-shrink: 0;
}

.title{
    position: absolute;
    color: #887C68;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 24px;


}
.img{
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat;
width: 391px;
height: 292px;
flex-shrink: 0;
}
.box{
width: 391px;
height: 260px;
}
.card{
    width: 391px;
}
.titlebox{
    margin-top: 34px;
    background: #F8F8F8;
width: 391px;
height: 79px;
flex-shrink: 0;
}
.titlebox2{
 margin-left: 24px;
    width: 239.762px;
    margin-top: 24px;
   
}
@media (max-width: 768px) {

    .text{
        width: 280.716px;
height: 97.478px;
flex-shrink: 0;
color: #887C68;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-top: 28.22px;
margin-left: 19.64px;
margin-right: 19.64px;
line-height: 24px; /* 150% */
    }
    .title{
        color: #887C68;
        font-family: Open Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin-top: 20.52px;
    
    }
    .img{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat;
        width: 320px;
height: 249.681px;
flex-shrink: 0;
        }
        .box{
            width: 320px;
height: 220.319px;
flex-shrink: 0;
background: #FFF;
            }
            
            .titlebox {
                width: 320px;
                height: 67.551px;
                flex-shrink: 0;
                margin-top: 29.07px;
              }
              
            .titlebox2 {
                width: 196.224px;
                height: 25.652px;
                margin-left: 19.64px;
                margin-top:  19.64px; /* Adjust this value to control the spacing */
              }
              
            .card{
                width: 320px;

            }    
        }
            